body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: purple;
    background: linear-gradient(rgba(255, 180, 191, 0.8), rgba(180, 226, 255, 0.8))
}
h1{
    font-size: 3.5rem;
    color: purple;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: rgb(180, 250, 250);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: rgb(150, 202, 248);
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px o;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: lightgreen;
}
.redText, #computerScoreDisplay{
   color: darkred;
}
.orangeText{
    color: rgb(255, 144, 104);
}